<button class="bte_find-provider-tab bcrl_button bcrl_tab @IsActiveCssClassString"
        @onclick="DispatchSetActiveFindProviderActionOnClick">
    <div class="bte_find-provider-icon">
        <DynamicComponent Type="@TextEditorFindProvider.IconComponentRendererType"/>
    </div>

    <div class="bte_find-provider-title">
        @TextEditorFindProvider.DisplayName
    </div>
</button>