<div class="bte_find-provider @IsActiveCssClassString">
    <div class="bte_find-provider-icon">
        <DynamicComponent Type="@TextEditorFindProvider.IconComponentRendererType"/>
    </div>

    <div class="bte_find-provider-title">
        @TextEditorFindProvider.DisplayName
    </div>
</div>