@using BlazorTextEditor.RazorLib.ViewModel

<div class="bte_text-editor-group @CssClassString"
     style="@CssStyleString">
    @{
        var textEditorGroup = TextEditorGroupsCollectionWrap.Value.GroupsList
            .FirstOrDefault();
    }
    
    @if (textEditorGroup is not null)
    {
        <div class="bte_text-editor-group-tabs-list">
            @foreach (var viewModelKey in textEditorGroup.ViewModelKeys)
            {
                <TextEditorGroupTabDisplay TextEditorGroup="textEditorGroup"
                                           TextEditorViewModelKey="viewModelKey"/>
            }
        </div>
        <div class="bte_text-editor-group-active-view-model">
            @{
                var textEditorModel = TextEditorService.GetTextEditorModelFromViewModelKey(
                    textEditorGroup.ActiveViewModelKey);
        
                if (textEditorModel is null)
                {
                    <text>textEditorModel was null</text>
                }
                else
                {
                    <TextEditorViewModelDisplay TextEditorViewModelKey="textEditorGroup.ActiveViewModelKey"
                                                WrapperClassCssString="bte_demo-text-editor"
                                                TabIndex="TabIndex"/>
                }
            }
        </div>
    }
    else
    {
        <div>
            textEditorGroup was null
        </div>
    }
</div>