@using BlazorTextEditor.RazorLib.Row

@inherits TextEditorView

<div class="bte_text-editor-footer @TextEditorService.GlobalThemeCssClassString">
    @{
        var textEditor = TextEditorStatesSelection.Value;
        
        if (textEditor is not null)
        {
            if (FileExtension is not null)
            {
                <div class="bte_text-editor-footer-entry">
                    @FileExtension
                </div>
            }
            
            <div class="bte_text-editor-footer-entry">
                EBI:@textEditor.EditBlockIndex
            </div>
            
            <div class="bte_text-editor-footer-entry">
                EBS:@textEditor.EditBlocks.Length
            </div>

            <div class="bte_text-editor-footer-entry">
                length:@($"{textEditor.DocumentLength}")
                &nbsp;
                lines:@($"{textEditor.RowCount}")
            </div>

            if (TextEditorDisplay is not null)
            {
                <div class="bte_text-editor-footer-entry">
                    Ln:@($"{TextEditorDisplay.PrimaryCursor.IndexCoordinates.rowIndex + 1}")
                    &nbsp;
                    Col:@($"{TextEditorDisplay.PrimaryCursor.IndexCoordinates.columnIndex + 1}")
                </div>
            }

            <div class="bte_text-editor-footer-entry">
                @if (textEditor.OnlyRowEndingKind is null)
                {
                    <text>has:mixed </text>
                }
                else
                {
                    <text>has:@textEditor.OnlyRowEndingKind.Value.AsFriendlyName() </text>
                }

                use:
                <select @onchange="SelectRowEndingKindOnChange">
                    @foreach (var rowEndingKind in RowEndingKind.Linefeed.GetRowEndingsUserAllowedToUse())
                    {
                        <option value="@rowEndingKind.ToString()"
                                selected="@(textEditor.UsingRowEndingKind == rowEndingKind)">
                            @rowEndingKind.AsFriendlyName()
                        </option>
                    }
                </select>
            </div>
        }
        else
        {
            <div class="bte_text-editor-footer-entry bte_text-editor-footer-file-sizing">
                textEditor is null
            </div>
        }
    }
</div>