<textarea @ref="_textEditorCursorDisplayElementReference"
          @onkeydown="HandleOnKeyDown"
          tabindex="-1"
          class="bte_text-editor-cursor @BlinkAnimationCssClass"
          style="@CursorStyleCss">
    
</textarea>

<div class="bte_text-editor-caret-row"
     style="@CaretRowStyleCss">
    
</div>