@using BlazorTextEditor.RazorLib.Row

<div class="bte_text-editor-footer @TextEditorService.GlobalThemeCssClassString">
    @{
        if (TextEditorBase is not null)
        {
            if (FileExtension is not null)
            {
                <div class="bte_text-editor-footer-entry">
                    @FileExtension
                </div>
            }
            
            <div class="bte_text-editor-footer-entry">
                EBI:@TextEditorBase.EditBlockIndex
            </div>
            
            <div class="bte_text-editor-footer-entry">
                EBS:@TextEditorBase.EditBlocks.Length
            </div>

            <div class="bte_text-editor-footer-entry">
                length:@($"{TextEditorBase.DocumentLength}")
                &nbsp;
                lines:@($"{TextEditorBase.RowCount}")
            </div>

            if (TextEditorDisplay is not null)
            {
                <div class="bte_text-editor-footer-entry">
                    Ln:@($"{TextEditorDisplay.PrimaryCursor.IndexCoordinates.rowIndex}")
                    &nbsp;
                    Col:@($"{TextEditorDisplay.PrimaryCursor.IndexCoordinates.columnIndex}")
                </div>
            }

            <div class="bte_text-editor-footer-entry">
                @if (TextEditorBase.OnlyRowEndingKind is null)
                {
                    <text>has:mixed </text>
                }
                else
                {
                    <text>has:@TextEditorBase.OnlyRowEndingKind.Value.AsFriendlyName() </text>
                }

                use:
                <select @onchange="SelectRowEndingKindOnChange">
                    @foreach (var rowEndingKind in RowEndingKind.Linefeed.GetRowEndingsUserAllowedToUse())
                    {
                        <option value="@rowEndingKind.ToString()"
                                selected="@(TextEditorBase.UsingRowEndingKind == rowEndingKind)">
                            @rowEndingKind.AsFriendlyName()
                        </option>
                    }
                </select>
            </div>
        }
        else
        {
            <div class="bte_text-editor-footer-entry bte_text-editor-footer-file-sizing">
                textEditor is null
            </div>
        }
    }
</div>