@using BlazorTextEditor.RazorLib.Menu

@inherits TextEditorView

<div @ref="_textEditorAutocompleteMenuElementReference"
     tab-index="-1"
     class="bstudio_text-editor-autocomplete-menu"
     @onkeydown="HandleOnKeyDownAsync">

    <MenuDisplay @ref="_autocompleteMenuDisplay" MenuRecord="GetMenuRecord()"
                 FocusOnAfterRenderAsync="false"/>
    
</div>