@using BlazorCommon.RazorLib.Menu

<div @ref="_textEditorContextMenuElementReference"
     tab-index="-1"
     class="bstudio_text-editor-context-menu"
     @onkeydown="HandleOnKeyDownAsync">

    <CascadingValue Name="ReturnFocusToParentAction"
                    Value="new Action(ReturnFocusToThis)">
        
        <MenuDisplay MenuRecord="GetMenuRecord()"/>
    </CascadingValue>
</div>