@using BlazorTextEditor.RazorLib.ViewModel

<div class="bte_text-editor-diff @CssClassString"
     style="@CssStyleString">
     
     @{
          var textEditorDiff = TextEditorService.TextEditorDiffsCollection.DiffsList
               .FirstOrDefault(x => x.DiffKey == TextEditorDiffKey);
     }
     
     @if (textEditorDiff is null)
     {
          <div>@nameof(textEditorDiff) was null</div>
     }
     else
     {
          <div class="bte_text-editor-diff-body">
               <TextEditorViewModelDisplay TextEditorViewModelKey="textEditorDiff.BeforeViewModelKey"/>
               
               <div class="bte_text-editor-diff-body-separator"></div>
               
               <TextEditorViewModelDisplay TextEditorViewModelKey="textEditorDiff.AfterViewModelKey"/>
          </div>
     }
</div>