@using Fluxor.Blazor.Web.Components;
@using BlazorTextEditor.RazorLib.Find.InternalComponents
@inherits FluxorComponent

@{ var findProviderState = FindProviderState.Value; }

<div class="bte_find">
    <div class="bte_find-tabs">
        @foreach (var findProvider in findProviderState.FindProvidersList)
        {
            <FindProviderTabDisplay FindProvider="findProvider"
                             IsActive="findProvider.FindProviderKey == findProviderState.ActiveFindProviderKey" />
        }
    </div>
    
    <div class="bte_find-body">

        Search:&nbsp;
        <input class="bcrl_input"
               @bind="SearchQuery"
               @bind:event="oninput"/>

        <div>
            SearchQuery:&nbsp;@findProviderState.SearchQuery
        </div>

        @{ var activeFindProvider = findProviderState.ActiveFindProviderOrDefault(); }

        @if (activeFindProvider is null)
        {
            @: null active find provider
        }
        else
        {
            @: @activeFindProvider.DisplayName
        }
    </div>
</div>