@using Fluxor.Blazor.Web.Components;
@using BlazorTextEditor.RazorLib.Find.InternalComponents
@inherits FluxorComponent

@{ var findProvidersCollection = TextEditorFindProvidersCollectionWrap.Value; }

<div class="bte_find">
    <div class="bte_find-tabs">
        @foreach (var findProvider in findProvidersCollection.FindProvidersList)
        {
            <FindProviderTabDisplay TextEditorFindProvider="findProvider"
                             IsActive="findProvider.FindProviderKey == findProvidersCollection.ActiveTextEditorFindProviderKey" />
        }
    </div>
    
    <div class="bte_find-body">
        @{ var activeFindProvider = findProvidersCollection.ActiveFindProviderOrDefault(); }

        @if (activeFindProvider is null)
        {
            @: null active find provider
        }
        else
        {
            @: @activeFindProvider.DisplayName
        }
    </div>
</div>