@* TODO: Color the bte_scrollbar-connector differently and render the 'corner icon'? *@
<div class="bte_scrollbar bte_scrollbar-connector"
     @onmousedown:stopPropagation="true"
     @onmousemove:stopPropagation="true"
     @ondblclick:stopPropagation="true"
     @onclick:stopPropagation="true"
     @oncontextmenu:stopPropagation="true">
</div>