<div class="bte_scrollbar bte_scrollbar-horizontal"
     style="@GetScrollbarHorizontalStyleCss()"
     @onmousedown:stopPropagation="true"
     @onmousemove:stopPropagation="true"
     @ondblclick:stopPropagation="true"
     @onclick:stopPropagation="true"
     @oncontextmenu:stopPropagation="true">

    <div class="bte_scrollbar-slider"
         style="@GetSliderHorizontalStyleCss()">
    </div>
</div>