@using BlazorALaCarte.Shared.Dimensions
<div class="bte_scrollbar bte_scrollbar-horizontal"
     id="@ScrollbarElementId"
     style="@GetScrollbarHorizontalStyleCss()"
     @onmousedown:stopPropagation="true"
     @onmousedown="HandleOnMouseDownAsync"
     @onmousemove:stopPropagation="true"
     @ondblclick:stopPropagation="true"
     @onclick:stopPropagation="true"
     @oncontextmenu:stopPropagation="true">
    
    <div class="bte_scrollbar-slider"
         style="bottom: 0; height: @(ScrollbarFacts.SCROLLBAR_SIZE_IN_PIXELS.ToCssValue())px; @GetSliderHorizontalStyleCss()">
        
    </div>
</div>