<div class="bte_scrollbar bte_scrollbar-vertical"
     @onmousedown:stopPropagation="true"
     @onmousemove:stopPropagation="true"
     @ondblclick:stopPropagation="true"
     @onclick:stopPropagation="true"
     @oncontextmenu:stopPropagation="true">
         
    <div class="bte_scrollbar-slider"
         style="background-color: red; left: 0; width: @(ScrollbarFacts.SCROLLBAR_SIZE_IN_PIXELS)px; @GetSliderVerticalStyleCss()">
    </div>
</div>