<div class="bte_text-editor-view">
    
    <div>TextEditorViewDisplay.razor</div>
    
    @{
        var textEditorViewsCollection = TextEditorViewsCollectionWrap.Value;

        if (textEditorViewsCollection is not null)
        {
            var textEditorViewModel = textEditorViewsCollection.ViewModelsList.FirstOrDefault(x =>
                x.TextEditorViewModelKey == TextEditorViewModelKey);
            
            if (textEditorViewModel is not null)
            {
                var textEditorStates = TextEditorStatesWrap.Value;

                if (textEditorStates is not null)
                {
                    var textEditorBase = textEditorStates.TextEditorList
                        .FirstOrDefault(x => x.Key == textEditorViewModel.TextEditorKey);

                    if (textEditorBase is not null)
                    {
                        <TextEditorDisplay TextEditorViewModelKey="textEditorViewModel.TextEditorViewModelKey"
                                           FileExtension="C#"
                                           ClassCssString="bte_demo-text-editor"/>
                    }
                    else
                    {
                        <div>textEditorBase was null</div>
                    }
                }
                else
                {
                    <div>textEditorStates was null</div>
                }
            }
            else
            {
                <div>textEditorViewModel was null</div>
            }
        }
        else
        {
            <div>textEditorViewsCollection was null</div>
        }
    }

</div>