@using BlazorTextEditor.RazorLib.Dropdown
@using BlazorTextEditor.RazorLib.CustomEvents

<div class="bte_menu-option-display bte_unselectable @IsActiveCssClass @HasWidgetActiveCssClass"
     tabindex="-1"
     @ref="_menuOptionDisplayElementReference"
     @onclick="HandleOnClick"
     @onclick:stopPropagation="true"
     @onkeydown="HandleOnKeyDown"
     @onkeydown:preventDefault="true">

    @MenuOptionRecord.DisplayName

    @if (MenuOptionRecord.SubMenu is not null)
    {
        <IconChevronRight/>

        <DropdownDisplay DropdownKey="_subMenuDropdownKey"
                         DropdownPositionKind="DropdownPositionKind.Horizontal"
                         ShouldDisplayOutOfBoundsClickDisplay="false">

            <div class="bte_dropdown-display-default-background">
                <MenuDisplay MenuRecord="MenuOptionRecord.SubMenu"/>
            </div>
        </DropdownDisplay>
    }

    @if (DisplayWidget)
    {
        <div class="bte_menu-option-widget"
             @onclick:stopPropagation="true"
             @ondblclick:stopPropagation="true"
             @onkeydown:stopPropagation="true"
             @onkeydownwithpreventscroll:stopPropagation="true"
             @oncontextmenu:stopPropagation="true">

            <CascadingValue Value="MenuOptionWidgetParameters">
                <DynamicComponent Type="MenuOptionRecord.WidgetRendererType"
                                  Parameters="MenuOptionRecord.WidgetParameters"/>
            </CascadingValue>
        </div>
    }
</div>