.bte_dark-theme {
    --bte_primary-font-color: #D2D2D2;
    --bte_text-editor-cursor-foreground-color: #BBBBBB;
    --bte_text-selection-background-color: #244B78;
    --bte_body-background-color: #1E1E1E;
    --bte_text-editor-caret-row-border-color: #919157;
    --bte_newline-foreground-color: #4e9a41;
    --bte_newline-background-color: #424242;
    --bte_method-foreground-color: #DADA89;
    --bte_type-foreground-color: #4EC9B0;
    --bte_parameter-foreground-color: #9CDCFE;
    --bte_string-literal-foreground-color: #D69D85;
    --bte_keyword-foreground-color: #D88FD7;
    --bte_comment-foreground-color: #57A64A;
    --bte_text-editor-gutter-border-color: #273840;
    --bte_text-editor-gutter-background-color: #1f2229;
    --bte_secondary-font-color: #d1d2ca;
    --bte_secondary-background-color: #2d2f34;
    --bte_primary-overlay-box-shadow-color: #ffffff;
}