.bte_light-theme {
    --bte_primary-font-color: black;
    --bte_text-editor-cursor-foreground-color: black;
    --bte_text-selection-background-color: #ADD6FF;
    --bte_body-background-color: rgb(253, 253, 253);
    --bte_text-editor-caret-row-border-color: #8218c6;
    --bte_newline-foreground-color: #007F00;
    --bte_newline-background-color: #faeee2;
    --bte_method-foreground-color: #7F4E00;
    --bte_type-foreground-color: #2B91AF;
    --bte_parameter-foreground-color: #1F377F;
    --bte_string-literal-foreground-color: #A31515;
    --bte_keyword-foreground-color: #0000FF;
    --bte_comment-foreground-color: #007F00;
    --bte_text-editor-gutter-border-color: #accec1;
    --bte_text-editor-gutter-background-color: #f0f0dc;
}