.bte_light-theme {
    --bte_primary-font-color: #000000;
    --bte_text-editor-cursor-foreground-color: #404040;
    --bte_text-selection-background-color: #ADD6FF;
    --bte_body-background-color: #FDFDFD;
    --bte_text-editor-caret-row-border-color: #c8c864;
    --bte_newline-foreground-color: #007F00;
    --bte_newline-background-color: #faeee2;
    --bte_method-foreground-color: #007F00;
    --bte_type-foreground-color: #2B91AF;
    --bte_parameter-foreground-color: #2B34AF;
    --bte_string-literal-foreground-color: #CD8510;
    --bte_keyword-foreground-color: #D853D8;
    --bte_comment-foreground-color: #808080;
    --bte_tag-name-foreground-color: #D853D8;
    --bte_injected-language-fragment-color: #FF00FF;
    --bte_text-editor-gutter-border-color: #accec1;
    --bte_text-editor-gutter-background-color: #F9F9EF;
    --bte_secondary-font-color: var(--bte_primary-font-color);
    --bte_secondary-background-color: #e6e6e6;
    --bte_primary-overlay-box-shadow-color: #000000;
}