.bte_dark-theme {
    --bte_primary-font-color: #D2D2D2;
    --bte_text-editor-cursor-foreground-color: #BBBBBB;
    --bte_text-selection-background-color: #1D547B;
    --bte_body-background-color: #1E1E1E;
    --bte_text-editor-caret-row-border-color-no-focus-within-editor: var(--bte_text-editor-cursor-foreground-color);
    --bte_text-editor-caret-row-border-color-editor-focus-within: #977400;
    --bte_newline-foreground-color: #4e9a41;
    --bte_newline-background-color: #424242;
    --bte_method-foreground-color: #8DD26A;
    --bte_type-foreground-color: #71B6E7;
    --bte_parameter-foreground-color: #BB9BD8;
    --bte_string-literal-foreground-color: #DC91BE;
    --bte_keyword-foreground-color: #D6AD56;
    --bte_comment-foreground-color: #8E8E8E;
    --bte_tag-name-foreground-color: #E8BF6A;
    --bte_injected-language-fragment-color: #DC8200;
    --bte_injected-language-fragment-background-color: var(--bte_body-background-color);
    --bte_css-property-name-color: #b692e2;
    --bte_css-property-value-color: #D69D85;
    --bte_css-identifier-color: #30a7e6;
    --bte_attribute-name-color: #96C8CD;
    --bte_attribute-value-color : #DC91BE;
    --bte_json-property-key-color : #b692e2;
    --bte_json-property-value-color : #D69D85;
    --bte_text-editor-gutter-border-color: #273840;
    --bte_text-editor-gutter-background-color: #1f2229;
    --bte_secondary-font-color: #d1d2ca;
    --bte_secondary-background-color: #2d2f34;
    --bte_primary-overlay-box-shadow-color: #ffffff;
    --bte_button-background-color: #1e56a7;
    --bte_button-foreground-color: var(--bte_primary-font-color);
    --bte_button-disabled-background-color: #4a5a71;
    --bte_button-disabled-foreground-color: var(--bte_primary-font-color);
    --bte_resize-column-background-color: #d7d7d7;
    --bte_resize-row-background-color: #d7d7d7;
    --bte_dialog-display-background-color: #2d2f34;
    --bte_primary-box-shadow-color: #f5f5f5;
    --bte_dialog-display-toolbar-background-color: #071c57;
    --bte_primary-hover-background-color: #956100;
    --bte-primary-outline-color: #2d498b;
    --bte-primary-active-not-focused-background-color: #566060;
    --bte-primary-active-focused-background-color: #2d498b;
    --bte_dropdown-display-default-background-color: rgb(48, 51, 101);
    --bte_primary-emphasis-foreground-color: #4d8aea;
    --bte_primary-disabled-background-color: #5c5959;
    --bte_primary-disabled-foreground-color: #ba931e;
    --bte_primary-disabled-hover-background-color: var(--bte_primary-disabled-foreground-color);
    --bte_primary-disabled-hover-foreground-color: var(--bte_primary-disabled-background-color);
    --bte_notification-display-background-color: #2d2f34;
    --bte_notification-display-toolbar-background-color: #071c57;
    --bte_active-button-background-color: #753282;
    --bte_active-button-primary-font-color: var(--bte_primary-font-color);
    --bte_tertiary-background-color: var(--bte_body-background-color);
    --bte_tertiary-foreground-color: var(--bte_primary-font-color);
    --bte_hr-primary-background-color: currentColor;
    --bte_error-foreground-color: #e55d62;
    --bte_scrollbar-opacity: 0.5;
    --bte_scrollbar-background-color: #555566;
    --bte_scrollbar-opacity-on-hover: 0.8;
    --bte_scrollbar-slider-background-color: #ffffff;
    --btv_outline-color: var(--bte-primary-outline-color);
    --btv_active-but-not-focused-background-color: var(--bte-primary-active-not-focused-background-color);
    --btv_context-menu-background-color: red;
    --btv_context-menu-foreground-color: green;
    --btv-tree-view-expansion-chevron-color: currentColor;
    --btv-tree-view-children-border-color: currentColor;
}