@page "/"
@using BlazorTextEditor.RazorLib
@using BlazorTextEditor.RazorLib.TextEditor

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<TextEditorDisplay TextEditorKey="IndexTextEditorKey"/>

@code {
    [Inject]
    private ITextEditorService TextEditorService { get; set; } = null!;
    
    private static readonly TextEditorKey IndexTextEditorKey = 
        TextEditorKey.NewTextEditorKey();

    protected override void OnInitialized()
    {
        TextEditorService.RegisterCSharpTextEditor(
            IndexTextEditorKey,
            string.Empty);
        
        base.OnInitialized();
    }

}