@page "/"
@using BlazorTextEditor.RazorLib
@using BlazorTextEditor.RazorLib.TextEditor
@using BlazorTextEditor.RazorLib.HelperComponents

<PageTitle>Index</PageTitle>

<div>
    Source code is v5.0.0:<br/>
    <a href="https://github.com/huntercfreeman/Blazor.Text.Editor"
       target="_blank">
        github.com/huntercfreeman/Blazor.Text.Editor
    </a>
    
    <div>
        NOTE: This demo is using Blazor WebAssembly and
        you might have to clear your cache to get the latest version.
    </div>
</div>

<hr/>

<TextEditorInputFontSize/>
<TextEditorInputShowNewLines/>
<TextEditorInputShowWhitespace/>
<TextEditorInputTheme/>

<button class="btn btn-primary"
        @onclick="OpenTextEditorSettingsDialog">
    Text Editor Settings
</button>

<TextEditorDisplay TextEditorKey="IndexTextEditorKey"/>

@code {

    [Inject]
    private ITextEditorService TextEditorService { get; set; } = null!;

    private static readonly TextEditorKey IndexTextEditorKey = TextEditorKey.NewTextEditorKey();

    protected override void OnInitialized()
    {
        TextEditorService.RegisterCSharpTextEditor(
            IndexTextEditorKey,
            string.Empty);
        
        base.OnInitialized();
    }

    private void OpenTextEditorSettingsDialog()
    {
        TextEditorService.ShowSettingsDialog(true);
    }
}