@page "/"
@using BlazorTextEditor.RazorLib
@using BlazorTextEditor.RazorLib.TextEditor
@using BlazorTextEditor.RazorLib.HelperComponents
@using BlazorTextEditor.Demo.Wasm.TextEditor

<PageTitle>Index</PageTitle>

<div>
    Source code is v5.1.0:<br/>
    <a href="https://github.com/huntercfreeman/Blazor.Text.Editor"
       target="_blank">
        github.com/huntercfreeman/Blazor.Text.Editor
    </a>
    
    <div>
        NOTE: This demo is using Blazor WebAssembly and
        you might have to clear your cache to get the latest version.
    </div>
</div>

<hr/>

<TextEditorInputFontSize/>
<TextEditorInputShowNewLines/>
<TextEditorInputShowWhitespace/>
<TextEditorInputTheme/>

<button class="btn btn-primary"
        @onclick="OpenSettingsDialogOnClick">
    Text Editor Settings
</button>

<TextEditorDisplay TextEditorKey="TextEditorFacts.CSharpTextEditor"
                   FileExtension="C#"/>
                   
<TextEditorDisplay TextEditorKey="TextEditorFacts.CssTextEditor"
                   FileExtension="CSS"/>

<TextEditorDisplay TextEditorKey="TextEditorFacts.FSharpTextEditor"
                   FileExtension="F#"/>

<TextEditorDisplay TextEditorKey="TextEditorFacts.HtmlTextEditor"
                   FileExtension="HTML"/>

<TextEditorDisplay TextEditorKey="TextEditorFacts.JavaScriptTextEditor"
                   FileExtension="JavaScript"/>

<TextEditorDisplay TextEditorKey="TextEditorFacts.PlainTextEditor"
                   FileExtension="Plain"/>

<TextEditorDisplay TextEditorKey="TextEditorFacts.RazorTextEditor"
                   FileExtension="Razor"/>

<TextEditorDisplay TextEditorKey="TextEditorFacts.TypeScriptTextEditor"
                   FileExtension="TypeScript"/>
