<div class="bte_debug-vim-grammar-token"
     style="display: flex;">
    {&nbsp;
    
    <div title="VimGrammarKind" class="bte_type">
        @VimGrammarToken.VimGrammarKind
    </div>

    ,&nbsp;

    <div title="TextValue" class="bte_string-literal">
        "@(VimGrammarToken.TextValue)"
    </div>
    
    &nbsp;}
</div>