<div class="bte_body-section"
     style="@GetBodyStyleCss()">
    
    <RowSection TextEditorViewModel="TextEditorViewModel"
                GlobalShowNewlines="GlobalShowNewlines"
                SpaceKeyOutput="@SpaceKeyOutput"
                TabKeyOutput="@TabKeyOutput"/>

    <ScrollbarSection WidthAndHeightOfTextEditor="TextEditorViewModel.WidthAndHeightOfBody"
                      TextEditorViewModel="TextEditorViewModel"/>
</div>