<div class="bte_body-section"
     style="@GetBodyStyleCss()">
    
    <RowSection GlobalShowNewlines="GlobalShowNewlines"
                SpaceKeyOutput="@SpaceKeyOutput"
                TabKeyOutput="@TabKeyOutput"/>

    <ScrollbarSection WidthAndHeightOfTextEditor="TextEditorViewModel.WidthAndHeightOfTextEditor"
                      TextEditorViewModel="TextEditorViewModel"/>
</div>