<div class="bte_gutter-section"
     style="@GetGutterSectionStyleCss()"
     id="@TextEditorViewModel.GutterElementId">
    
    @foreach (var virtualizedRow in VirtualizationResult.Entries)
    {
        <div class="bte_gutter"
             style="@GetGutterStyleCss(virtualizedRow.Index, virtualizedRow.LeftInPixels)">
            @(virtualizedRow.Index + 1)
        </div>
    }
</div>