<div class="bte_measure-character-width-and-row-height bte_row"
     id="@ElementId">

    @for (var i = 0; i < _testStringRepeatCount; i++)
    {
        <text>
            @_testStringForMeasurement
        </text>
    }
</div>