@using BlazorTextEditor.RazorLib.Scrollbar

<div class="bte_scrollbar-section">

    <ScrollbarHorizontal WidthAndHeightOfTextEditor="WidthAndHeightOfTextEditor"
                         TextEditorViewModel="TextEditorViewModel"/>

    <ScrollbarVertical WidthAndHeightOfTextEditor="WidthAndHeightOfTextEditor"
                       TextEditorViewModel="TextEditorViewModel"/>

    <ScrollbarConnector/>
</div>