@using BlazorTextEditor.RazorLib.Cursor

<div class="bte_text-selection-group">
    @if (TextEditorSelectionHelper.HasSelectedText(
        PrimaryCursorSnapshot.ImmutableCursor.ImmutableTextEditorSelection))
    {
        var selectionBounds = TextEditorSelectionHelper
            .GetSelectionBounds(
                PrimaryCursorSnapshot.ImmutableCursor.ImmutableTextEditorSelection);

        var firstRowToSelectData =
            TextEditor
                .FindRowIndexRowStartRowEndingTupleFromPositionIndex(
                    selectionBounds.lowerBound);

        var lastRowToSelectData =
            TextEditor
                .FindRowIndexRowStartRowEndingTupleFromPositionIndex(
                    selectionBounds.upperBound);

        for (var i = firstRowToSelectData.rowIndex;
            i <= lastRowToSelectData.rowIndex;
            i++)
        {
            var rowIndex = i;

            <div class="bte_text-selection"
                 style="@GetTextSelectionStyleCss(selectionBounds.lowerBound, selectionBounds.upperBound, rowIndex)">
            </div>
        }
    }
</div>