@page "/repl"

@using BlazorTextEditor.RazorLib

<h3>REPL for FictitiousLanguage</h3>

<hr/>

<div>
    Example Input:<br/>
    <ul>
        <li>3 + 2 * 4 <span style="color: green;">// answer is 11</span></li>
        <li>(3 + 2) * 4 <span style="color: green;">// answer is 20</span></li>
    </ul>
</div>


<div class="ea_repl-toolbar">
    <div class="ea_repl-toolbar-button">
        Run Code:&nbsp;
        <IconPlay/>
    </div>
    
</div>

@{
    var localReplTextEditor = ReplTextEditor;

    if (localReplTextEditor is not null)
    {
        <TextEditorDisplay TextEditorKey="localReplTextEditor.Key"
                           StyleCssString="height: 400px;" />
    }
}

