<div class="bcrl_settings-input bcrl_input-app-options-font-size @CssClassString"
     style="@CssStyleString">
    
    Font-Size (px):&nbsp;
    <input type="number"
           class="bcrl_input"
           @bind="FontSizeInPixels"/>
</div>