@using BlazorTextEditor.RazorLib
@using BlazorTextEditor.RazorLib.ViewModel

<div class="bte_text-editor-input-cursor-size @TextEditorService.ThemeCssClassString @TopLevelDivElementCssClassString">
    <span class="@LabelElementCssClassString">
        Preview Settings:&nbsp;
    </span>
    
    <div class="@PreviewElementCssClassString">
        <TextEditorViewModelDisplay WrapperStyleCssString="height: var(--bte_text-editor-content-min-height);"
                                    TextEditorStyleCssString="height: 100%;"
                                    IncludeHeaderHelperComponent="false"
                                    IncludeFooterHelperComponent="false"
                                    AfterOnKeyDownAsync="(_, _, _, _) => { return Task.CompletedTask; }"
                                    TextEditorViewModelKey="SettingsPreviewTextEditorViewModelKey"/>
    </div>
</div>