@using ExampleApplication.Themes

<div class="ea_text-editor-options-display">
    
    <div>
        FontSizeInPixels:&nbsp;
        
        <input type="number"
               @bind="FontSizeInPixels" />
        
        @TextEditorOptions.FontSizeInPixels
    </div>

    <ThemeDisplay Theme="TextEditorOptions.Theme"/>
</div>