@using ExampleApplication.Themes

<div class="ea_text-editor-options-display">
    
    <div>
        FontSizeInPixels:&nbsp;
        
        <input type="number"
               @bind="FontSizeInPixels" />
        
        @TextEditorOptions.FontSizeInPixels
    </div>

    <select @onchange="SelectThemeOnChange">
        @foreach (var theme in ThemeService.ThemeStates.Themes)
        {
            <option value="@theme.ThemeKey.Guid.ToString()"
                    selected="@(TextEditorOptions.Theme.ThemeKey == theme.ThemeKey)">
                @theme.DisplayName
            </option>
        }
    </select>
    
    <ThemeDisplay Theme="TextEditorOptions.Theme"/>
</div>