@using ExampleApplication.Themes

<div class="ea_text-editor-options-display">
    
    <div>
        FontSizeInPixels:&nbsp;@TextEditorOptions.FontSizeInPixels
    </div>

    <ThemeDisplay Theme="TextEditorOptions.Theme"/>
</div>