@using BlazorTextEditor.RazorLib.Cursor

<div class="bte_text-selection-group">
    @if (TextEditorSelectionHelper.HasSelectedText(
        PrimaryCursorSnapshot.ImmutableCursor.ImmutableTextEditorSelection))
    {
        var selectionBoundsInPositionIndexUnits = TextEditorSelectionHelper
            .GetSelectionBounds(
                PrimaryCursorSnapshot.ImmutableCursor.ImmutableTextEditorSelection);

        var selectionBoundsInRowIndexUnits = TextEditorSelectionHelper
            .ConvertSelectionOfPositionIndexUnitsToRowIndexUnits(
                TextEditorModel,
                selectionBoundsInPositionIndexUnits);

        for (var i = selectionBoundsInRowIndexUnits.lowerRowIndexInclusive;
            i < selectionBoundsInRowIndexUnits.upperRowIndexExclusive;
            i++)
        {
            var rowIndex = i;

            <div class="bte_text-selection"
                 style="@GetTextSelectionStyleCss(selectionBoundsInPositionIndexUnits.lowerPositionIndexInclusive, selectionBoundsInPositionIndexUnits.upperPositionIndexExclusive, rowIndex)">
            </div>
        }
    }
</div>