@{
     var styling = GlobalTextEditorOptions.UseMonospaceOptimizations
          ? TextSelectionStyleCss
          : _proportionalTextSelectionStyleCss;
}

<div class="bte_text-selection"
     style="@styling">
</div>