<div class="bted_feature">
    <span class="bted_feature-root">
        Context Menu (AKA: Right Click Menu) Features:
    </span>
    
    <ul class="balc_indent-child-content">
        <li class="bted_feature">
            Cut
            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    With a selection, the selection is cut.
                </li>
                <li class="bted_feature">
                    Without a selection, the line the cursor is on will be cut.
                </li>
                <li class="bted_feature">
                    Keymap: { Ctrl + x }
                </li>
            </ul>
        </li>
        <li class="bted_feature">
            Copy
            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    With a selection, the selection is copied.
                </li>
                <li class="bted_feature">
                    Without a selection, the line the cursor is on will be copied.
                </li>
                <li class="bted_feature">
                    Keymap: { Ctrl + c }
                </li>
            </ul>
        </li>
        <li class="bted_feature">
            Paste
            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    With a selection, the selection is deleted, afterwards the paste occurs.
                </li>
                <li class="bted_feature">
                    Without a selection, the text on the user's clipboard is inserted at the position of the cursor.
                </li>
                <li class="bted_feature">
                    Keymap: { Ctrl + v }
                </li>
            </ul>
        </li>
    </ul>
</div>