<div class="bted_feature">
    <span class="bted_emphasize">
        Helper Component Features:
    </span>

    <ul class="balc_indent-child-content">
        <li class="bted_feature">
            Autocomplete Menu
        </li>
        <li class="bted_feature">
            Context Menu (AKA: Right Click Menu)
        </li>
        <li class="bted_feature">
            Footer
        </li>
        <li class="bted_feature">
            Header
        </li>
        <li class="bted_feature">
            Cursor Width Input
        </li>
        <li class="bted_feature">
            Font Size Input
        </li>
        <li class="bted_feature">
            Height Input
        </li>
        <li class="bted_feature">
            Keymap Input
        </li>
        <li class="bted_feature">
            Show New Lines Input
        </li>
        <li class="bted_feature">
            Show Whitespace Input
        </li>
        <li class="bted_feature">
            Theme Input
        </li>
        <li class="bted_feature">
            Settings Dialog
        </li>
        <li class="bted_feature">
            Settings Preview
        </li>
    </ul>
</div>