<div class="bted_feature">
    <span class="bted_emphasize">
        Keyboard Features:
    </span>

    <ul class="balc_indent-child-content">
        <li class="bted_feature">
            Move cursor

            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    ArrowLeft
                </li>
                <li class="bted_feature">
                    ArrowDown
                </li>
                <li class="bted_feature">
                    ArrowUp
                </li>
                <li class="bted_feature">
                    ArrowRight
                </li>
                <li class="bted_feature">
                    Home
                </li>
                <li class="bted_feature">
                    End
                </li>
                <li class="bted_feature">
                    Ctrl Key Modifier
                </li>
            </ul>
        </li>
        <li class="bted_feature">
            Select text

            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    Hold shift and perform any keyboard movement
                </li>
            </ul>
        </li>
    </ul>
</div>