<div class="bted_feature">
    <span class="bted_emphasize">
        Mouse Features:
    </span>
    
    <ul class="balc_indent-child-content">
        <li class="bted_feature">
            Move cursor

            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    Click with the mouse.
                </li>
                <li class="bted_feature">
                    Drag the mouse over the text.
                </li>
            </ul>
        </li>
        <li class="bted_feature">
            Select text

            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    Hold shift then click.
                </li>
                <li class="bted_feature">
                    Drag the mouse over the text.
                </li>
            </ul>
        </li>
    </ul>
</div>