<div class="bted_feature">
    <span class="bted_emphasize">
        Syntax Highlighting Features:
    </span>

    <ul class="balc_indent-child-content">
        <li class="bted_feature">
            ILexer API
            
            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    Determine what tokens exist throughout the text
                </li>
            </ul>
        </li>
        <li class="bted_feature">
            IDecorationMapper API
            
            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    Determine what css class a token should be rendered to the UI with.
                </li>
            </ul>
        </li>
        <li class="bted_feature">
            TextEditorTextSpan record
            
            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    Indicates the start, end, and kind of a token that was found within the text.
                </li>
            </ul>
        </li>
    </ul>
</div>