<div class="bted_feature">
    <span class="bted_feature-root">
        Syntax Highlighting Features:
    </span>

    <ul class="balc_indent-child-content">
        <li class="bted_feature">
            ILexer API
        </li>
        <li class="bted_feature">
            IDecorationMapper API
        </li>
    </ul>
</div>