<div class="bted_feature">
    <span class="bted_feature-root">
        Vim Emulation Features:
    </span>

    <ul class="balc_indent-child-content">
        <li class="bted_feature">
            Normal Mode
        </li>
        <li class="bted_feature">
            Insert Mode
        </li>
        <li class="bted_feature">
            Visual Mode
        </li>
        <li class="bted_feature">
            VisualLine Mode
        </li>
        <li class="bted_feature">
            Command Mode
        </li>
    </ul>
</div>