<div class="bted_feature">
    <span class="bted_emphasize">
        Virtualization Features:
    </span>

    <ul class="balc_indent-child-content">
        <li class="bted_feature">
            Vertical virtualization.
        </li>
        <li class="bted_feature">
            Horizontal virtualization.
            
            <ul class="balc_indent-child-content">
                <li class="bted_feature">
                    Only applies when using a monospaced font. If using a proportional font (varying width font)
                    then the the horizontal virtualization will be disabled.
                </li>
            </ul>
        </li>
    </ul>
</div>