@using BlazorTextEditor.RazorLib.Resize

<div class="bte_dialog-display"
     style="@StyleCssString">

    @if (DialogRecord.IsResizable)
    {
        <ResizableDisplay @ref="_resizableDisplay"
                          ElementDimensions="DialogRecord.ElementDimensions"
                          ReRenderFuncAsync="ReRenderAsync"/>
    }

    <div class="bte_dialog-display-toolbar"
         @onmousedown="SubscribeMoveHandle">
        <div class="bte_dialog-display-title">
            @DialogRecord.Title
        </div>

        @* TODO: Use the <ButtonDisplay>...</ButtonDisplay> instead of class="bte_dialog-display-button-entry"*@
        <div class="bte_dialog-display-buttons"
             @onmousedown:stopPropagation="true">
            <div class="bte_dialog-display-button-entry"
                 @onclick="DispatchDisposeDialogRecordAction">
                <IconClose/>
            </div>
        </div>
    </div>

    <div class="bte_dialog-display-body">
        <CascadingValue Value="DialogRecord">
            <DynamicComponent @key="DialogRecord.DialogKey"
                              Type="DialogRecord.RendererType"
                              Parameters="DialogRecord.Parameters"/>
        </CascadingValue>
    </div>
</div>