@using Microsoft.AspNetCore.Components.Web
@namespace BlazorTextEditor.Demo.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="_content/BlazorTextEditor.Demo.RazorLib/css/bootstrap/bootstrap.min.css"/>
    <link href="_content/BlazorTextEditor.Demo.RazorLib/css/app.css" rel="stylesheet"/>
    <link href="BlazorTextEditor.Demo.ServerSide.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
    
    <!-- Blazor.Text.Editor | Required CSS -->
    <link href="_content/Blazor.Text.Editor/blazorTextEditor.css" rel="stylesheet"/>
    <!-- Blazor.Text.Editor | Required CSS -->
    <link href="_content/Blazor.Text.Editor/blazorTextEditorSizes.css" rel="stylesheet"/>
    
    <!-- Blazor.Text.Editor | Theme: Default (Visual Studio Dark Clone) -->
    <link href="_content/Blazor.Text.Editor/blazorTextEditorDefaultColors.css" rel="stylesheet"/>
    
    <!-- Blazor.Text.Editor | Theme: Visual Studio Light Clone -->
    <link href="_content/Blazor.Text.Editor/Themes/blazorTextEditorVisualStudioLightTheme.css" rel="stylesheet"/>
    
</head>
<body>
@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

    <script src="_framework/blazor.server.js"></script>

    <!-- Blazor.Text.Editor | Required JavaScript -->
    <script src="_content/Blazor.Text.Editor/blazorTextEditor.js"></script>

</body>
</html>