@page "/"

@using BlazorTextEditor.RazorLib
@using BlazorTextEditor.Demo.ServerSide.TextEditor

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<TextEditorDisplay TextEditorKey="TextEditorFacts.IndexTextEditorKey"/>