@page "/"

@using BlazorTextEditor.RazorLib
@using BlazorTextEditor.Demo.ServerSide.TextEditor

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<button @onclick="OpenSettingsDialogOnClick">
    Text Editor Settings
</button>

<TextEditorDisplay TextEditorKey="TextEditorFacts.CSharpTextEditor"
                   FileExtension="C#"/>
                   
<TextEditorDisplay TextEditorKey="TextEditorFacts.CssTextEditor"
                   FileExtension="CSS"/>
                   
<TextEditorDisplay TextEditorKey="TextEditorFacts.FSharpTextEditor"
                   FileExtension="F#"/>
                   
<TextEditorDisplay TextEditorKey="TextEditorFacts.HtmlTextEditor"
                   FileExtension="HTML"/>
                   
<TextEditorDisplay TextEditorKey="TextEditorFacts.JavaScriptTextEditor"
                   FileExtension="JavaScript"/>
                   
<TextEditorDisplay TextEditorKey="TextEditorFacts.PlainTextEditor"
                   FileExtension="Plain"/>
                   
<TextEditorDisplay TextEditorKey="TextEditorFacts.RazorTextEditor"
                   FileExtension="Razor"/>
                   
<TextEditorDisplay TextEditorKey="TextEditorFacts.TypeScriptTextEditor"
                   FileExtension="TypeScript"/>
