<div class="bte_text-editor-group">
    TextEditorGroupDisplay.razor
    
    @{
        var textEditorGroup = TextEditorGroupWrap.Value.GroupsList
            .FirstOrDefault();
    }
    
    @if (textEditorGroup is not null)
    {
        <div>Active:&nbsp;@textEditorGroup.ActiveTextEditorViewModelKey.Guid</div>
        <div class="bte_text-editor-group-tabs-list">
            @foreach (var viewModelKey in textEditorGroup.ViewModelKeys)
            {
                <TextEditorGroupTabDisplay TextEditorGroup="textEditorGroup"
                                           TextEditorViewModelKey="viewModelKey"/>
            }
        </div>
        <div>
            @{
                var textEditorViewModelsCollection = TextEditorViewModelsCollectionWrap.Value;

                var viewModel = textEditorViewModelsCollection.ViewModelsList
                    .FirstOrDefault(x => 
                        x.TextEditorViewModelKey == textEditorGroup.ActiveTextEditorViewModelKey);
        
                if (viewModel is null)
                {
                    <text>viewModel was null</text>
                }
                else
                {
                    var textEditorBase = TextEditorService
                        .GetTextEditorBaseFromViewModelKey(viewModel.TextEditorViewModelKey);

                    if (textEditorBase is null)
                    {
                        <div>textEditorBase was null</div>
                    }
                    else
                    {
                        <TextEditorViewModelDisplay TextEditorViewModelKey="viewModel.TextEditorViewModelKey"
                                           FileExtension="TODO"
                                           ClassCssString="bte_demo-text-editor"/>
                    }
                }
            }
        </div>
    }
    else
    {
        <div>
            textEditorGroup was null
        </div>
    }
</div>