<div class="bte_debug-text-editor-command"
     style="display: flex;">
    {&nbsp;
    
    <div title="TextEditKind" class="bte_type">
        @TextEditorCommand.TextEditKind        
    </div>

    ,&nbsp;

    <div title="DisplayName" class="bte_string-literal">
        "@(TextEditorCommand.DisplayName)"
    </div>
    
    &nbsp;}
</div>