.bte_text-editor {
    height: 100%;
    color: var(--bte_primary-font-color);
    background-color: var(--bte_body-background-color);
}

.bte_method {
    color: var(--bte_method-foreground-color);
}

.bte_type {
    color: var(--bte_type-foreground-color);
}

.bte_parameter {
    color: var(--bte_parameter-foreground-color);
}

.bte_string-literal {
    color: var(--bte_string-literal-foreground-color);
}

.bte_keyword {
    color: var(--bte_keyword-foreground-color);
}

.bte_comment {
    color: var(--bte_comment-foreground-color);
}

.bte_measure-character-width-and-row-height {
    top: 0;
    left: 0;
    visibility: hidden;
}

.bte_row {
    white-space: nowrap;
    position: absolute;
    display: flex;
}

.bte_gutter {
    white-space: nowrap;
    position: absolute;
    display: flex;
    box-shadow: -2px 0 0 var(--bte_text-editor-gutter-border-color) inset;
    background-color: var(--bte_text-editor-gutter-background-color);
}

.bte_text-editor-content {
    cursor: text;
    position: relative;
    display: flex;
    overflow: auto;
    height: 100%;
    font-family: monospace;
}

.bte_text-editor-cursor {
    position: absolute;
    width: 2px;
    display: inline-block;
    background-color: var(--bte_text-editor-cursor-foreground-color);
    margin: 0;
    padding: 0;
    outline: none !important;
    resize: none;
    border: none;
    overflow: hidden;
}

.bte_text-editor-caret-row {
    border: 2px solid var(--bte_text-editor-caret-row-border-color);
    position: absolute;
    left: 0;
    width: 100%;
}

.bte_text-editor-context-menu {
    position: absolute;
    z-index: 5;
    background-color: var(--bte_secondary-background-color);
    color: var(--bte_secondary-font-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.bte_blink {
    animation: bte_blink-animation 1s infinite;
}

@keyframes bte_blink-animation {
    0% {opacity: 0}
    49%{opacity: 0}
    50% {opacity: 1}
}

.bte_text-selection {
    background-color: var(--bte_text-selection-background-color);
    position: absolute;
}

.bte_unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bte_newline {
    color: var(--bte_newline-foreground-color);
    background-color: var(--bte_newline-background-color);
}

.bte_virtualization-boundary-display {
    position: absolute;
}

