:root {
    --bte_primary-font-color: #DCDCDC;
    --bte_text-editor-cursor-foreground-color: #BBBBBB;
    --bte_text-selection-background-color: #245B82;
    --bte_body-background-color: #1E1E1E;
    --bte_text-editor-caret-row-border-color: #977400;
    --bte_newline-foreground-color: #4e9a41;
    --bte_newline-background-color: #424242;
    --bte_method-foreground-color: #DCDCAA;
    --bte_type-foreground-color: #4EC9B0;
    --bte_parameter-foreground-color: #9CDCFE;
    --bte_string-literal-foreground-color: #D69D85;
    --bte_keyword-foreground-color: #569CD6;
    --bte_comment-foreground-color: #57A64A;
    --bte_tag-name-foreground-color: #E8BF6A;
    --bte_injected-language-fragment-color: #BA09E2;
    --bte_text-editor-gutter-border-color: #273840;
    --bte_text-editor-gutter-background-color: #1f2229;
    --bte_secondary-font-color: #d1d2ca;
    --bte_secondary-background-color: #2d2f34;
    --bte_primary-overlay-box-shadow-color: #ffffff;
    --bte_button-background-color: #1e56a7;
    --bte_button-foreground-color: var(--bte_primary-font-color);
    --bte_resize-column-background-color: #d7d7d7;
    --bte_resize-row-background-color: #d7d7d7;
    --bte_dialog-display-background-color: #2d2f34;
    --bte_primary-box-shadow-color: #f5f5f5;
    --bte_dialog-display-toolbar-background-color: #071c57;
    --bte_primary-hover-background-color: #956100;
    --bte-primary-outline-color: #2d498b;
    --bte-primary-active-not-focused-background-color: #566060;
    --bte-primary-active-focused-background-color: #2d498b;
    --bte_dropdown-display-default-background-color: rgb(48, 51, 101);
    --bte_primary-emphasis-foreground-color: #4d8aea;
    --bte_primary-disabled-background-color: #5c5959;
    --bte_primary-disabled-foreground-color: #ba931e;
    --bte_primary-disabled-hover-background-color: var(--bte_primary-disabled-foreground-color);
    --bte_primary-disabled-hover-foreground-color: var(--bte_primary-disabled-background-color);
    --bte_notification-display-background-color: #2d2f34;
    --bte_notification-display-toolbar-background-color: #071c57;
    --bte_active-button-background-color: #753282;
    --bte_active-button-primary-font-color: var(--bte_primary-font-color);
    --bte_tertiary-background-color: var(--bte_body-background-color);
    --bte_tertiary-foreground-color: var(--bte_primary-font-color);
    --bte_hr-primary-background-color: currentColor;
    --bte_error-foreground-color: #e55d62;
    --btv_outline-color: var(--bte-primary-outline-color);
    --btv_active-but-not-focused-background-color: var(--bte-primary-active-not-focused-background-color);
    --btv_context-menu-background-color: red;
    --btv_context-menu-foreground-color: green;
}