.bte_text-editor-css-wrapper {
    height: calc(300px + var(--bte_text-editor-header-height) + var(--bte_text-editor-footer-height));
}

.bte_text-editor {
    height: calc(100% - var(--bte_text-editor-header-height) - var(--bte_text-editor-footer-height));
    color: var(--bte_primary-font-color);
    background-color: var(--bte_body-background-color);
    cursor: text;
    position: relative;
    display: flex;
    font-family: monospace;
}

.bte_method {
    color: var(--bte_method-foreground-color);
}

.bte_type {
    color: var(--bte_type-foreground-color);
}

.bte_parameter {
    color: var(--bte_parameter-foreground-color);
}

.bte_string-literal {
    color: var(--bte_string-literal-foreground-color);
}

.bte_keyword {
    color: var(--bte_keyword-foreground-color);
}

.bte_comment {
    color: var(--bte_comment-foreground-color);
}

.bte_tag-name {
    color: var(--bte_tag-name-foreground-color);
}

.bte_injected-language-fragment {
    color: var(--bte_injected-language-fragment-color);
}

.bte_css-property-name {
    color: var(--bte_css-property-name-color);
}

.bte_css-property-value {
    color: var(--bte_css-property-value-color);
}

.bte_css-identifier {
    color: var(--bte_css-identifier-color);
}

.bte_attribute-name {
    color: var(--bte_attribute-name-color);
}

.bte_attribute-value {
    color: var(--bte_attribute-value-color);
}

.bte_json-property-key {
    color: var(--bte_json-property-key-color);
}

.bte_json-property-value {
    color: var(--bte_json-property-value-color);
}

.bte_measure-character-width-and-row-height {
    top: 0;
    left: 0;
    visibility: hidden;
}

.bte_row {
    white-space: nowrap;
    position: absolute;
    display: flex;
}

.bte_gutter {
    white-space: nowrap;
    position: absolute;
    display: flex;
    box-shadow: -2px 0 0 var(--bte_text-editor-gutter-border-color) inset;
    background-color: var(--bte_text-editor-gutter-background-color);
}

.bte_gutter-section {
    position: relative;
    overflow: hidden;
}

.bte_body-section {
    height: 100%;
    position: absolute;
    top: 0;
}

.bte_row-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.bte_scrollbar-section {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bte_scrollbar {
    position: absolute;
    cursor: default;
    opacity: var(--bte_scrollbar-opacity);
    background-color: var(--bte_scrollbar-background-color);
}

.bte_scrollbar-slider {
    background-color: var(--bte_scrollbar-slider-background-color);
    position: absolute;
}

.bte_scrollbar:hover {
    opacity: var(--bte_scrollbar-opacity-on-hover);
}

.bte_scrollbar-horizontal {
    top: calc(100% - var(--bte_scrollbar-size));
    height: var(--bte_scrollbar-size);
}

.bte_scrollbar-vertical {
    right: 0;
    top: 0;
    width: var(--bte_scrollbar-size);
    height: calc(100% - var(--bte_scrollbar-size));
}

.bte_scrollbar-connector {
    right: 0;
    top: calc(100% - var(--bte_scrollbar-size));
    width: var(--bte_scrollbar-size);
    height: var(--bte_scrollbar-size);
}

.bte_text-editor-cursor {
    position: absolute;
    width: 0;
    display: inline-block;
    background-color: var(--bte_text-editor-cursor-foreground-color);
    margin: 0;
    padding: 0;
    outline: none !important;
    resize: none;
    border: none;
    overflow: hidden;
}

.bte_text-editor:focus-within .bte_text-editor-cursor {
    width: 2px;
}

.bte_text-editor-caret-row {
    border-width: 2px;
    border-style: solid;
    border-color: var(--bte_text-editor-caret-row-border-color-no-focus-within-editor);
    border-left: none;
    border-right: none;
    position: absolute;
    left: 0;
    min-width: 100%;
}

.bte_text-editor:focus-within .bte_text-editor-caret-row {
    border-color: var(--bte_text-editor-caret-row-border-color-editor-focus-within);
}

.bte_blink {
    animation: bte_blink-animation 1s infinite;
}

@keyframes bte_blink-animation {
    0% {
        opacity: 0
    }
    49% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.bte_text-selection {
    background-color: var(--bte_text-selection-background-color);
    position: absolute;
}

.bte_unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bte_newline {
    color: var(--bte_newline-foreground-color);
    background-color: var(--bte_newline-background-color);
}

.bte_virtualization-boundary-display {
    position: absolute;
}

.bte_text-editor-footer {
    font-size: .8em;
    display: flex;
    height: var(--bte_text-editor-footer-height);
    padding-left: var(--bte_text-editor-footer-padding-left);
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    border-top: 2px solid var(--bte_text-editor-gutter-border-color);
    color: var(--bte_primary-font-color);
    background-color: var(--bte_text-editor-gutter-background-color);
}

.bte_text-editor-footer-entry {
    padding-right: 5px;
}

.bte_text-editor-footer-entry:not(:last-child) {
    border-right: 2px solid var(--bte_text-editor-caret-row-border-color-no-focus-within-editor);
    margin-right: 5px;
}

.bte_text-editor-header {
    font-size: .8em;
    display: flex;
    height: var(--bte_text-editor-header-height);
    padding-left: var(--bte_text-editor-header-padding-left);
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 2px solid var(--bte_text-editor-gutter-border-color);
    color: var(--bte_primary-font-color);
    background-color: var(--bte_text-editor-gutter-background-color);
}

.bte_text-editor-header-entry {
    padding-right: 5px;
}

.bte_text-editor-header-entry:not(:last-child) {
    border-right: 2px solid var(--bte_text-editor-caret-row-border-color-no-focus-within-editor);
    margin-right: 5px;
}

.bte_button {
    background-color: var(--bte_button-background-color);
    color: var(--bte_button-foreground-color);
}

.bte_button:disabled {
    background-color: var(--bte_button-disabled-background-color);
    color: var(--bte_button-disabled-foreground-color);
}

.bte_unselectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.bte_editor-display {
    border-left: var(--bte_editor-display-border-left-size) solid var(--bte_primary-border-color);
    height: 100%;
}

.bte_editor-tabs-bar {
    display: flex;
    height: var(--bte_editor-tabs-bar-height);
    margin-bottom: 10px;
    overflow-x: auto;
    font-size: 0.8em;
}

.bte_editor-tab-display {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin: 2px;
    /*background-color: var(--bte_secondary-background-color);*/
    cursor: pointer;
}

.bte_editor-tab-display:hover {
    /*background-color: var(--bte_primary-hover-background-color);*/
    /*color: var(--bte_primary-hover-font-color);*/
}

.bte_editor-tab-display.bte_active {
    /*color: var(--bte_primary-active-font-color);*/
    /*background-color: var(--bte_primary-active-background-color);*/
    /*box-shadow: var(--bte_primary-overlay-box-shadow);*/
}

.bte_editor-tab-close-display {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    margin-left: 5px;
    /*background-color: var(--bte_secondary-background-color);*/
}

.bte_editor-tab-close-display:hover {
    /*background-color: var(--bte_tertiary-hover-background-color);*/
    /*color: var(--bte_tertiary-hover-font-color);*/
}

.bte_resize-column {
    background-color: var(--bte_resize-column-background-color);
    height: 100%;
    cursor: e-resize;
}

.bte_resize-row {
    background-color: var(--bte_resize-row-background-color);
    width: 100%;
    cursor: n-resize;
}

.bte_add-margin-top {
    margin: 10px 0;
}

.bte_text-editor-input-height .bte_child-input {
    border-left: 2px solid var(--bte_text-editor-caret-row-border-color-no-focus-within-editor);
}

.bte_text-editor-input-height .bte_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.bte_text-editor-input-height .bte_disabled input {
    cursor: not-allowed;
}

.bte_text-editor-context-menu {
    position: absolute;
    z-index: 30;
    background-color: var(--bte_secondary-background-color);
    color: var(--bte_secondary-font-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}