.bte_text-editor-css-wrapper {
    height: 100%;
}

.bte_text-editor {
    height: calc(100% - var(--bte_text-editor-header-height) - var(--bte_text-editor-footer-height));
    min-height: var(--bte_text-editor-content-min-height);
    color: var(--bte_primary-font-color);
    background-color: var(--bte_body-background-color);
    cursor: text;
    position: relative;
    display: flex;
}

.bte_text-editor-group {
    height: 100%;
}

.bte_text-editor-group-tabs-list {
    height: var(--bcrl_tabs-bar-height);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: .8em;
}

.bte_text-editor-group-active-view-model {
    height: calc(100% - var(--bcrl_tabs-bar-height));
}

.bte_method {
    color: var(--bte_method-foreground-color);
}

.bte_type {
    color: var(--bte_type-foreground-color);
}

.bte_parameter {
    color: var(--bte_parameter-foreground-color);
}

.bte_string-literal {
    color: var(--bte_string-literal-foreground-color);
}

.bte_string-literal-escape-character {
    color: var(--bte_string-literal-escape-character-foreground-color);
}

.bte_keyword {
    color: var(--bte_keyword-foreground-color);
}

.bte_keyword-control {
    color: var(--bte_keyword-control-foreground-color);
}

.bte_comment {
    color: var(--bte_comment-foreground-color);
}

.bte_tag-name {
    color: var(--bte_tag-name-foreground-color);
}

.bte_injected-language-fragment {
    color: var(--bte_injected-language-fragment-color);
}

.bte_css-property-name {
    color: var(--bte_css-property-name-color);
}

.bte_css-property-value {
    color: var(--bte_css-property-value-color);
}

.bte_css-identifier {
    color: var(--bte_css-identifier-color);
}

.bte_attribute-name {
    color: var(--bte_attribute-name-color);
}

.bte_attribute-value {
    color: var(--bte_attribute-value-color);
}

.bte_json-property-key {
    color: var(--bte_json-property-key-color);
}

.bte_json-property-value {
    color: var(--bte_json-property-value-color);
}

.bte_measure-character-width-and-row-height-wrapper {
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
}

.bte_measure-character-width-and-row-height {
    top: 0;
    left: 0;
    visibility: hidden;
}

.bte_row {
    white-space: nowrap;
    position: absolute;
    display: flex;
}

.bte_gutter {
    white-space: nowrap;
    position: absolute;
    display: flex;
    justify-content: end;
    box-shadow: -2px 0 0 var(--bte_text-editor-gutter-border-color) inset;
    background-color: var(--bte_text-editor-gutter-background-color);
}

.bte_gutter-section {
    position: relative;
    overflow: hidden;
}

.bte_body-section {
    height: 100%;
    position: absolute;
    top: 0;
}

.bte_command-bar {
    height: var(--bte_text-editor-command-bar-height);
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    z-index: 1;
}

.bte_command-bar-input {
    width: 100%;
}

.bte_row-section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.bte_scrollbar-section {
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.bte_scrollbar {
    position: absolute;
    cursor: default;
    opacity: var(--bte_scrollbar-opacity);
    background-color: var(--bte_scrollbar-background-color);
}

.bte_scrollbar-slider {
    background-color: var(--bte_scrollbar-slider-background-color);
    position: absolute;
}

.bte_scrollbar:hover {
    opacity: var(--bte_scrollbar-opacity-on-hover);
}

.bte_scrollbar-horizontal {
    top: calc(100% - var(--bte_scrollbar-size));
    height: var(--bte_scrollbar-size);
}

.bte_scrollbar-vertical {
    right: 0;
    top: 0;
    width: var(--bte_scrollbar-size);
    height: calc(100% - var(--bte_scrollbar-size));
}

.bte_scrollbar-connector {
    right: 0;
    top: calc(100% - var(--bte_scrollbar-size));
    width: var(--bte_scrollbar-size);
    height: var(--bte_scrollbar-size);
}

.bte_text-editor-cursor {
    position: absolute;
    display: inline-block;
    background-color: var(--bte_text-editor-cursor-foreground-color);
    margin: 0;
    padding: 0;
    outline: none !important;
    resize: none;
    border: none;
    overflow: hidden;
    color: transparent;
}

.bte_text-editor-cursor:focus {
    outline: none !important;
    color: transparent;
}

.bte_text-editor:not(.bte_text-editor:focus-within) .bte_text-editor-cursor {
    width: 0;
}

.bte_text-editor-cursor:not(.bte_text-editor-cursor:focus) {
    width: 0;
}

.bte_text-editor-caret-row {
    border-width: 2px;
    border-style: solid;
    border-color: var(--bte_text-editor-caret-row-border-color-no-focus-within-editor);
    border-left: none;
    border-right: none;
    position: absolute;
    left: 0;
    min-width: 100%;
}

.bte_text-editor:focus-within .bte_text-editor-caret-row {
    border-color: var(--bte_text-editor-caret-row-border-color-editor-focus-within);
}

.bte_blink {
    animation: bte_blink-animation 1s infinite;
}

@keyframes bte_blink-animation {
    0% {
        opacity: 0
    }
    49% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

.bte_text-selection {
    background-color: var(--bte_text-selection-background-color);
    position: absolute;
}

.bte_diff-longest-common-subsequence {
    background-color: var(--bte_diff-longest-common-subsequence-background-color);
    position: absolute;
}

.bte_diff-insertion {
    background-color: var(--bte_diff-insertion-background-color);
    position: absolute;
}

.bte_diff-deletion {
    background-color: var(--bte_diff-deletion-background-color);
    position: absolute;
}

.bte_diff-modification {
    background-color: var(--bte_diff-modification-background-color);
    position: absolute;
}

.bte_semantic-diagnostic-error {
    border-bottom: 2px solid var(--bte_semantic-diagnostic-error-background-color);
    position: absolute;
}

.bte_semantic-diagnostic-hint {
    border-bottom: 2px solid var(--bte_semantic-diagnostic-hint-background-color);
    position: absolute;
}

.bte_semantic-diagnostic-suggestion {
    position: absolute;
}

.bte_semantic-diagnostic-warning {
    position: absolute;
}

.bte_semantic-diagnostic-other {
    position: absolute;
}

.bte_newline {
    color: var(--bte_newline-foreground-color);
    background-color: var(--bte_newline-background-color);
}

.bte_virtualization-boundary-display {
    position: absolute;
}

.bte_text-editor-footer {
    font-size: .8em;
    display: flex;
    height: var(--bte_text-editor-footer-height);
    padding-left: var(--bte_text-editor-footer-padding-left);
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    border-top: 2px solid var(--bte_text-editor-gutter-border-color);
    color: var(--bte_primary-font-color);
    background-color: var(--bte_text-editor-gutter-background-color);
}

.bte_text-editor-footer-entry {
    padding-right: 5px;
    display: flex;
}

.bte_text-editor-footer-entry:not(:last-child) {
    border-right: 2px solid var(--bte_text-editor-caret-row-border-color-no-focus-within-editor);
    margin-right: 5px;
}

.bte_text-editor-footer-name-value-pair {
    display: flex;
}

.bte_text-editor-header {
    font-size: .8em;
    display: flex;
    height: var(--bte_text-editor-header-height);
    padding-left: var(--bte_text-editor-header-padding-left);
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    border-bottom: 2px solid var(--bte_text-editor-gutter-border-color);
    color: var(--bte_primary-font-color);
    background-color: var(--bte_text-editor-gutter-background-color);
}

.bte_text-editor-header-entry {
    padding-right: 5px;
}

.bte_text-editor-header-entry:not(:last-child) {
    border-right: 2px solid var(--bte_text-editor-caret-row-border-color-no-focus-within-editor);
    margin-right: 5px;
}

.bte_button {
    background-color: var(--bte_button-background-color);
    color: var(--bte_button-foreground-color);
}

.bte_button:disabled {
    background-color: var(--bte_button-disabled-background-color);
    color: var(--bte_button-disabled-foreground-color);
}

.bte_resize-column {
    background-color: var(--bte_resize-column-background-color);
    height: 100%;
    cursor: e-resize;
}

.bte_resize-row {
    background-color: var(--bte_resize-row-background-color);
    width: 100%;
    cursor: n-resize;
}

.bte_add-margin-top {
    margin: 10px 0;
}

.bte_text-editor-input-height .bte_child-input {
    border-left: 2px solid var(--bte_text-editor-caret-row-border-color-no-focus-within-editor);
}

.bte_text-editor-input-height .bte_disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.bte_text-editor-input-height .bte_disabled input {
    cursor: not-allowed;
}

.bte_text-editor-context-menu {
    position: absolute;
    z-index: 30;
    background-color: var(--bte_secondary-background-color);
    color: var(--bte_secondary-font-color);
    box-shadow: 0 0 2px var(--bte_primary-overlay-box-shadow-color);
}

.bte_use-vim-keymap {
    height: calc(100% - 200px);
}

.bte_text-editor-diff {
    height: 100%;
}

.bte_diff-longest-common-subsequence {
    color: var(--bte_primary-font-color);
}

.bte_text-editor-diff-header {
    display: flex;
    height: var(--bte_diff-header-height);
}

.bte_text-editor-diff-body {
    display: flex;
    height: calc(100% - var(--bte_diff-header-height));
}

.bte_text-editor-diff-body-separator {
    background-color: var(--bcrl_primary-border-color);
    width: var(--bte_diff-body-separator-width);
}

.bte_text-editor-diff-comparison-item {
    width: calc(50% - var(--bte_diff-body-separator-width) / 2);
}

.bte_find-tabs {
    display: flex;
}

.bte_find-provider-tab {
    display: flex;
}

:root {
    /* Sizes Text Editor */
    --bte_text-editor-content-min-height: 100px;
    --bte_text-editor-footer-height: 2.2em;
    --bte_text-editor-footer-padding-left: 5px;
    --bte_text-editor-header-height: 2.2em;
    --bte_text-editor-header-padding-left: 5px;
    --bte_text-editor-command-bar-height: 2.2em;
    --bte_text-editor-command-bar-padding-left: 5px;
    --bte_scrollbar-size: 10px;
    --bte_diff-body-separator-width: 6px;
    --bte_diff-header-height: 2em;
}

.bcrl_visual-studio-light-theme-clone {
    /*
        The colors are a close cloning of the
        Light Theme found in Visual Studio.
    */
    --bte_primary-font-color: #000000;
    --bte_text-editor-cursor-foreground-color: #404040;
    --bte_text-selection-background-color: #ADD6FF;
    --bte_diff-longest-common-subsequence-background-color: #ffb3f1;
    --bte_diff-insertion-background-color: green;
    --bte_diff-deletion-background-color: blue;
    --bte_diff-modification-background-color: yellow;
    --bte_semantic-diagnostic-error-background-color: red;
    --bte_semantic-diagnostic-hint-background-color: purple;
    --bte_body-background-color: #fdfdfd;
    --bte_text-editor-caret-row-border-color-no-focus-within-editor: var(--bte_text-editor-cursor-foreground-color);
    --bte_text-editor-caret-row-border-color-editor-focus-within: #28ae0c;
    --bte_newline-foreground-color: #007F00;
    --bte_newline-background-color: #faeee2;
    --bte_method-foreground-color: #C86E00;
    --bte_type-foreground-color: #2B91AF;
    --bte_parameter-foreground-color: #751FA3;
    --bte_string-literal-foreground-color: #A31515;
    --bte_string-literal-escape-character-foreground-color: #ffd68f;
    --bte_keyword-foreground-color: #0000FF;
    --bte_keyword-control-foreground-color: rgb(249, 130, 190);
    --bte_comment-foreground-color: #007F00;
    --bte_tag-name-foreground-color: #0000FF;
    --bte_injected-language-fragment-color: #C800BE;
    --bte_css-property-name-color: #0000FF;
    --bte_css-property-value-color: #A31515;
    --bte_css-identifier-color: #ad01d0;
    --bte_attribute-name-color: #009678;
    --bte_attribute-value-color: #A31515;
    --bte_json-property-key-color: #ad01d0;
    --bte_json-property-value-color: #A31515;
    --bte_text-editor-gutter-border-color: #28ae0c;
    --bte_text-editor-gutter-background-color: #F8F8EE;
    --bte_secondary-font-color: var(--bte_primary-font-color);
    --bte_secondary-background-color: #e6e6e6;
    --bte_primary-overlay-box-shadow-color: #000000;
    --bte_button-background-color: #b2d1ff;
    --bte_button-foreground-color: var(--bte_primary-font-color);
    --bte_button-disabled-background-color: #d7dde6;
    --bte_button-disabled-foreground-color: var(--bte_primary-font-color);
    --bte_resize-column-background-color: black;
    --bte_resize-row-background-color: black;
    --bte_dialog-display-background-color: rgb(252, 252, 245);
    --bte_primary-box-shadow-color: #000000;
    --bte_dialog-display-toolbar-background-color: #cad5eb;
    --bte_primary-hover-background-color: #dda133;
    --bte-primary-outline-color: #ADD6FF;
    --bte-primary-active-not-focused-background-color: #d9dcdf;
    --bte-primary-active-focused-background-color: #ADD6FF;
    --bcrl_dropdown-display-default-background-color: #e6e6e6;
    --bte_primary-emphasis-foreground-color: #124df9;
    --bte_primary-disabled-background-color: #cfcfcf;
    --bte_primary-disabled-foreground-color: #25180c;
    --bte_primary-disabled-hover-background-color: var(--bte_primary-disabled-foreground-color);
    --bte_primary-disabled-hover-foreground-color: var(--bte_primary-disabled-background-color);
    --bte_notification-display-background-color: rgb(252, 252, 245);
    --bte_notification-display-toolbar-background-color: rgb(192, 214, 247);
    --bte_active-button-background-color: #d889e8;
    --bte_active-button-primary-font-color: var(--bte_primary-font-color);
    --bte_tertiary-background-color: #f3f0dc;
    --bte_tertiary-foreground-color: var(--bte_primary-font-color);
    --bte_hr-primary-background-color: currentColor;
    --bte_error-foreground-color: red;
    --bte_scrollbar-opacity: 0.5;
    --bte_scrollbar-background-color: #9090af;
    --bte_scrollbar-opacity-on-hover: 0.8;
    --bte_scrollbar-slider-background-color: black;
    --btv_outline-color: #33bcec;
    --btv_active-but-not-focused-background-color: #7f8e93;
    --btv_context-menu-background-color: red;
    --btv_context-menu-foreground-color: green;
    --btv-tree-view-expansion-chevron-color: currentColor;
    --btv-tree-view-children-border-color: currentColor;
}

.bcrl_visual-studio-dark-theme-clone {
    /*
        The colors are a close cloning of the
        Dark Theme found in Visual Studio.
    */
    --bte_primary-font-color: #DCDCDC;
    --bte_text-editor-cursor-foreground-color: #BBBBBB;
    --bte_text-selection-background-color: #245B82;
    --bte_diff-longest-common-subsequence-background-color: #7e0077;
    --bte_diff-insertion-background-color: green;
    --bte_diff-deletion-background-color: blue;
    --bte_diff-modification-background-color: yellow;
    --bte_semantic-diagnostic-error-background-color: rgb(214 48 60);
    --bte_semantic-diagnostic-hint-background-color: #009aab;
    --bte_body-background-color: #1E1E1E;
    --bte_text-editor-caret-row-border-color-no-focus-within-editor: var(--bte_text-editor-cursor-foreground-color);
    --bte_text-editor-caret-row-border-color-editor-focus-within: #977400;
    --bte_newline-foreground-color: #4e9a41;
    --bte_newline-background-color: #424242;
    --bte_method-foreground-color: #D7D778;
    --bte_type-foreground-color: #4EC9B0;
    --bte_parameter-foreground-color: #9CDCFE;
    --bte_string-literal-foreground-color: #D69D85;
    --bte_string-literal-escape-character-foreground-color: #ffd68f;
    --bte_keyword-foreground-color: #569CD6;
    --bte_keyword-control-foreground-color: rgb(249, 130, 190);
    --bte_comment-foreground-color: #57A64A;
    --bte_tag-name-foreground-color: #E8BF6A;
    --bte_injected-language-fragment-color: #d466ce;
    --bte_css-property-name-color: #b692e2;
    --bte_css-property-value-color: #D69D85;
    --bte_css-identifier-color: #30a7e6;
    --bte_attribute-name-color: #b692e2;
    --bte_attribute-value-color: #D69D85;
    --bte_json-property-key-color: #b692e2;
    --bte_json-property-value-color: #D69D85;
    --bte_text-editor-gutter-border-color: #273840;
    --bte_text-editor-gutter-background-color: #1f2229;
    --bte_secondary-font-color: #d1d2ca;
    --bte_secondary-background-color: #2d2f34;
    --bte_primary-overlay-box-shadow-color: #ffffff;
    --bte_button-background-color: #1e56a7;
    --bte_button-foreground-color: var(--bte_primary-font-color);
    --bte_button-disabled-background-color: #4a5a71;
    --bte_button-disabled-foreground-color: var(--bte_primary-font-color);
    --bte_resize-column-background-color: #d7d7d7;
    --bte_resize-row-background-color: #d7d7d7;
    --bte_dialog-display-background-color: #2d2f34;
    --bte_primary-box-shadow-color: #f5f5f5;
    --bte_dialog-display-toolbar-background-color: #071c57;
    --bte_primary-hover-background-color: #956100;
    --bte-primary-outline-color: #2d498b;
    --bte-primary-active-not-focused-background-color: #566060;
    --bte-primary-active-focused-background-color: #2d498b;
    --bcrl_dropdown-display-default-background-color: rgb(48, 51, 101);
    --bte_primary-emphasis-foreground-color: #4d8aea;
    --bte_primary-disabled-background-color: #5c5959;
    --bte_primary-disabled-foreground-color: #ba931e;
    --bte_primary-disabled-hover-background-color: var(--bte_primary-disabled-foreground-color);
    --bte_primary-disabled-hover-foreground-color: var(--bte_primary-disabled-background-color);
    --bte_notification-display-background-color: #2d2f34;
    --bte_notification-display-toolbar-background-color: #071c57;
    --bte_active-button-background-color: #753282;
    --bte_active-button-primary-font-color: var(--bte_primary-font-color);
    --bte_tertiary-background-color: var(--bte_body-background-color);
    --bte_tertiary-foreground-color: var(--bte_primary-font-color);
    --bte_hr-primary-background-color: currentColor;
    --bte_error-foreground-color: #e55d62;
    --bte_scrollbar-opacity: 0.5;
    --bte_scrollbar-background-color: #555566;
    --bte_scrollbar-opacity-on-hover: 0.8;
    --bte_scrollbar-slider-background-color: #ffffff;
    --btv_outline-color: var(--bte-primary-outline-color);
    --btv_active-but-not-focused-background-color: var(--bte-primary-active-not-focused-background-color);
    --btv_context-menu-background-color: red;
    --btv_context-menu-foreground-color: green;
    --btv-tree-view-expansion-chevron-color: currentColor;
    --btv-tree-view-children-border-color: currentColor;
}

.bcrl_dark-theme {
    /*
        The colors are custom
        dark themed so the Text Editor has its own theme
    */
    --bte_primary-font-color: #d7d7d7;
    --bte_text-editor-cursor-foreground-color: #BBBBBB;
    --bte_text-selection-background-color: #1E557D;
    --bte_diff-longest-common-subsequence-background-color: #7e0077;
    --bte_diff-insertion-background-color: green;
    --bte_diff-deletion-background-color: blue;
    --bte_diff-modification-background-color: yellow;
    --bte_semantic-diagnostic-error-background-color: rgb(214 48 60);
    --bte_semantic-diagnostic-hint-background-color: #009aab;
    --bte_body-background-color: #1E1E1E;
    --bte_text-editor-caret-row-border-color-no-focus-within-editor: var(--bte_text-editor-cursor-foreground-color);
    --bte_text-editor-caret-row-border-color-editor-focus-within: #977400;
    --bte_newline-foreground-color: #4e9a41;
    --bte_newline-background-color: #424242;
    --bte_method-foreground-color: #5AC85A;
    --bte_type-foreground-color: #64B5E6;
    --bte_parameter-foreground-color: #B4A0DD;
    --bte_string-literal-foreground-color: #E06C75;
    --bte_string-literal-escape-character-foreground-color: #ffd68f;
    --bte_keyword-foreground-color: #E09C6C;
    --bte_keyword-control-foreground-color: rgb(249, 130, 190);
    --bte_comment-foreground-color: #96968C;
    --bte_tag-name-foreground-color: #E09C6C;
    --bte_injected-language-fragment-color: #dcd050;
    --bte_css-property-name-color: #C8C864;
    --bte_css-property-value-color: #E06C75;
    --bte_css-identifier-color: #E09C6C;
    --bte_attribute-name-color: #C8C864;
    --bte_attribute-value-color: #E06C75;
    --bte_json-property-key-color: #C8C864;
    --bte_json-property-value-color: #E06C75;
    --bte_text-editor-gutter-border-color: #273840;
    --bte_text-editor-gutter-background-color: #1f2229;
    --bte_secondary-font-color: #d1d2ca;
    --bte_secondary-background-color: #2d2f34;
    --bte_primary-overlay-box-shadow-color: #ffffff;
    --bte_button-background-color: #1e56a7;
    --bte_button-foreground-color: var(--bte_primary-font-color);
    --bte_button-disabled-background-color: #4a5a71;
    --bte_button-disabled-foreground-color: var(--bte_primary-font-color);
    --bte_resize-column-background-color: #d7d7d7;
    --bte_resize-row-background-color: #d7d7d7;
    --bte_dialog-display-background-color: #2d2f34;
    --bte_primary-box-shadow-color: #f5f5f5;
    --bte_dialog-display-toolbar-background-color: #071c57;
    --bte_primary-hover-background-color: #956100;
    --bte-primary-outline-color: #2d498b;
    --bte-primary-active-not-focused-background-color: #566060;
    --bte-primary-active-focused-background-color: #2d498b;
    --bcrl_dropdown-display-default-background-color: rgb(48, 51, 101);
    --bte_primary-emphasis-foreground-color: #4d8aea;
    --bte_primary-disabled-background-color: #5c5959;
    --bte_primary-disabled-foreground-color: #ba931e;
    --bte_primary-disabled-hover-background-color: var(--bte_primary-disabled-foreground-color);
    --bte_primary-disabled-hover-foreground-color: var(--bte_primary-disabled-background-color);
    --bte_notification-display-background-color: #2d2f34;
    --bte_notification-display-toolbar-background-color: #071c57;
    --bte_active-button-background-color: #753282;
    --bte_active-button-primary-font-color: var(--bte_primary-font-color);
    --bte_tertiary-background-color: var(--bte_body-background-color);
    --bte_tertiary-foreground-color: var(--bte_primary-font-color);
    --bte_hr-primary-background-color: currentColor;
    --bte_error-foreground-color: #e55d62;
    --bte_scrollbar-opacity: 0.5;
    --bte_scrollbar-background-color: #555566;
    --bte_scrollbar-opacity-on-hover: 0.8;
    --bte_scrollbar-slider-background-color: #ffffff;
    --btv_outline-color: var(--bte-primary-outline-color);
    --btv_active-but-not-focused-background-color: var(--bte-primary-active-not-focused-background-color);
    --btv_context-menu-background-color: red;
    --btv_context-menu-foreground-color: green;
    --btv-tree-view-expansion-chevron-color: currentColor;
    --btv-tree-view-children-border-color: currentColor;
}

.bcrl_light-theme {
    /*
       The colors are custom
       light themed so the Text Editor has its own theme
   */
    --bte_primary-font-color: #0A0A0A;
    --bte_text-editor-cursor-foreground-color: #404040;
    --bte_text-selection-background-color: #ADD6FF;
    --bte_diff-longest-common-subsequence-background-color: #ffb3f1;
    --bte_diff-insertion-background-color: green;
    --bte_diff-deletion-background-color: blue;
    --bte_diff-modification-background-color: yellow;
    --bte_semantic-diagnostic-error-background-color: red;
    --bte_semantic-diagnostic-hint-background-color: purple;
    --bte_body-background-color: #FCFCFC;
    --bte_text-editor-caret-row-border-color-no-focus-within-editor: var(--bte_text-editor-cursor-foreground-color);
    --bte_text-editor-caret-row-border-color-editor-focus-within: #28ae0c;
    --bte_newline-foreground-color: #007F00;
    --bte_newline-background-color: #faeee2;
    --bte_method-foreground-color: rgb(12, 160, 0);
    --bte_type-foreground-color: rgb(25, 120, 240);
    --bte_parameter-foreground-color: rgb(132, 0, 212);
    --bte_string-literal-foreground-color: rgb(190, 0, 0);
    --bte_string-literal-escape-character-foreground-color: rgb(183, 118, 251);
    --bte_keyword-foreground-color: #D26E00;
    --bte_keyword-control-foreground-color: rgb(238, 55, 224);
    --bte_comment-foreground-color: #7E7C7C;
    --bte_tag-name-foreground-color: #D26E00;
    --bte_injected-language-fragment-color: rgb(25, 80, 255);
    --bte_css-property-name-color: #2397D5;
    --bte_css-property-value-color: #D250BE;
    --bte_css-identifier-color: #D26E00;
    --bte_attribute-name-color: #2397D5;
    --bte_attribute-value-color: #D250BE;
    --bte_json-property-key-color: #2397D5;
    --bte_json-property-value-color: #D250BE;
    --bte_text-editor-gutter-border-color: #28ae0c;
    --bte_text-editor-gutter-background-color: #F8F8EE;
    --bte_secondary-font-color: var(--bte_primary-font-color);
    --bte_secondary-background-color: #e6e6e6;
    --bte_primary-overlay-box-shadow-color: #000000;
    --bte_button-background-color: #b2d1ff;
    --bte_button-foreground-color: var(--bte_primary-font-color);
    --bte_button-disabled-background-color: #d7dde6;
    --bte_button-disabled-foreground-color: var(--bte_primary-font-color);
    --bte_resize-column-background-color: black;
    --bte_resize-row-background-color: black;
    --bte_dialog-display-background-color: rgb(252, 252, 245);
    --bte_primary-box-shadow-color: #000000;
    --bte_dialog-display-toolbar-background-color: #cad5eb;
    --bte_primary-hover-background-color: #dda133;
    --bte-primary-outline-color: #ADD6FF;
    --bte-primary-active-not-focused-background-color: #d9dcdf;
    --bte-primary-active-focused-background-color: #ADD6FF;
    --bcrl_dropdown-display-default-background-color: #e6e6e6;
    --bte_primary-emphasis-foreground-color: #124df9;
    --bte_primary-disabled-background-color: #cfcfcf;
    --bte_primary-disabled-foreground-color: #25180c;
    --bte_primary-disabled-hover-background-color: var(--bte_primary-disabled-foreground-color);
    --bte_primary-disabled-hover-foreground-color: var(--bte_primary-disabled-background-color);
    --bte_notification-display-background-color: rgb(252, 252, 245);
    --bte_notification-display-toolbar-background-color: rgb(192, 214, 247);
    --bte_active-button-background-color: #d889e8;
    --bte_active-button-primary-font-color: var(--bte_primary-font-color);
    --bte_tertiary-background-color: #f3f0dc;
    --bte_tertiary-foreground-color: var(--bte_primary-font-color);
    --bte_hr-primary-background-color: currentColor;
    --bte_error-foreground-color: red;
    --bte_scrollbar-opacity: 0.5;
    --bte_scrollbar-background-color: #9090af;
    --bte_scrollbar-opacity-on-hover: 0.8;
    --bte_scrollbar-slider-background-color: black;
    --btv_outline-color: #33bcec;
    --btv_active-but-not-focused-background-color: #7f8e93;
    --btv_context-menu-background-color: red;
    --btv_context-menu-foreground-color: green;
    --btv-tree-view-expansion-chevron-color: currentColor;
    --btv-tree-view-children-border-color: currentColor;
}