<div class="top-row px-4 @CssClassString">
    
    <div class="bte_top-row-group">
        <span class="bte_top-row-link">
            Demo v6.0.4
        </span>
    </div>
    
    <div class="bte_top-row-group">
        <a class="bte_top-row-link" href="https://www.nuget.org/packages/Blazor.Text.Editor/" target="_blank">
            <IconPackage/> NuGet
        </a>
    
        <a class="bte_top-row-link" href="https://github.com/huntercfreeman/Blazor.Text.Editor/" target="_blank">
            <IconGithub/> Source
        </a>
    </div>
</div>