<div class="top-row px-4 @CssClassString">
    <a class="bte_top-row-link" href="https://docs.microsoft.com/aspnet/" target="_blank">
        <IconPackage/> nuget.org
    </a>
    
    <a class="bte_top-row-link" href="https://docs.microsoft.com/aspnet/" target="_blank">
        <IconGithub/> Source Code
    </a>
</div>