@inherits LayoutComponentBase

@using BlazorALaCarte.DialogNotification.Installation
@using BlazorTextEditor.Demo.RazorLib.Links

<PageTitle>BlazorTextEditor.Demo.ServerSide</PageTitle>

<div class="page @TextEditorService.GlobalThemeCssClassString">

    <DialogInitializer/>
    <NotificationInitializer/>
    
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <LinksDisplay CssClassString="bte_top-row"/>

        @{
            var topRowOffsetHeightInPixels = 56;
            var contentPaddingTopInRem = 1.1;
            
            
            var contentPaddingTopInRemInvariantCulture = contentPaddingTopInRem
                .ToString(System.Globalization.CultureInfo.InvariantCulture);
        }
        
        <article class="content px-4"
                 style="height: calc(100% - @(topRowOffsetHeightInPixels)px - @(contentPaddingTopInRemInvariantCulture)rem);">
            @Body
        </article>
    </main>
</div>