<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <button class="btn btn-success"
                style="margin: 1rem;"
                @onclick="OpenTextEditorSettingsDialogOnClick">
            Text Editor Settings
        </button>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="csharp">
                <span class="oi oi-plus" aria-hidden="true"></span> C#
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="css">
                <span class="oi oi-plus" aria-hidden="true"></span> CSS
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fsharp">
                <span class="oi oi-plus" aria-hidden="true"></span> F#
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="html">
                <span class="oi oi-plus" aria-hidden="true"></span> HTML
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="javaScript">
                <span class="oi oi-plus" aria-hidden="true"></span> JavaScript
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="json">
                <span class="oi oi-plus" aria-hidden="true"></span> JSON
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="razor">
                <span class="oi oi-plus" aria-hidden="true"></span> Razor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="typeScript">
                <span class="oi oi-plus" aria-hidden="true"></span> TypeScript
            </NavLink>
        </div>
    </nav>
</div>
