@using BlazorTextEditor.Demo.RazorLib.Links

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.Text.Editor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="bte_nav-menu @NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <button class="btn btn-success"
                style="margin: 1rem;"
                @onclick="OpenTextEditorSettingsDialogOnClick">
            Text Editor Settings
        </button>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="textEditor">
                <span class="oi oi-plus" aria-hidden="true"></span> Text Editor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diffEditor">
                <span class="oi oi-plus" aria-hidden="true"></span> Diff Editor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="featureLog">
                <span class="oi oi-plus" aria-hidden="true"></span> Feature Log
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="api">
                <span class="oi oi-plus" aria-hidden="true"></span> API
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="changeLog">
                <span class="oi oi-plus" aria-hidden="true"></span> Change Log
            </NavLink>
        </div>
    </nav>
</div>
